# Import Module

In [1]:
import pandas as pd
import numpy as np

import os

# Pre-processing Function

# Connect Data: sinhvien_dtb_hocky

In [14]:
# Đường dẫn tương đối từ vị trí hiện tại của notebook đến thư mục 'data'
data_dir = os.path.join(os.path.dirname(os.path.dirname(os.getcwd())), 'data')

# Đường dẫn đến file Excel
excel_file_path = os.path.join(data_dir, 'sinhvien_dtb_hocky.xlsx')

# Kiểm tra xem file có tồn tại hay không
if not os.path.exists(data_dir):
    print(f"Thư mục '{data_dir}' không tồn tại.")
elif not os.path.exists(excel_file_path):
    print(f"Tệp '{excel_file_path}' không tồn tại.")
else:
    # Tải dữ liệu từ tệp Excel
    df = pd.read_excel(excel_file_path)
    print("Dữ liệu đã được tải thành công:")
    print(df.info())
    display(df.head())

Dữ liệu đã được tải thành công:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84952 entries, 0 to 84951
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   masv    84952 non-null  int64
 1   hocky   84952 non-null  int64
 2   namhoc  84952 non-null  int64
 3   dtbhk   84952 non-null  float64
 4   sotchk  84952 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.2 MB
None

       masv  hocky  namhoc  dtbhk  sotchk
0  16520002      1    2016   6.45      13
1  16520002      2    2016   5.86      17
2  16520002      1    2017   6.54      16
3  16520002      2    2017   5.67      23
4  16520002      1    2018   2.27      21

# Save data: ver_1

In [16]:
# Đường dẫn thư mục đã tạo sẵn
folder_path = os.path.join(os.path.dirname(os.path.dirname(os.getcwd())), 'data', 'ver_1')

# Kiểm tra xem thư mục có tồn tại hay không
if not os.path.exists(folder_path):
    print(f"Thư mục '{folder_path}' không tồn tại.")
else:
    # Lưu DataFrame vào file CSV trong thư mục 'ver_1'
    file_path = os.path.join(folder_path, 'students_average_score_sem.csv')
    df.to_csv(file_path, index=False)
    print(f"DataFrame đã được lưu vào '{file_path}'")

DataFrame đã được lưu vào 'c:\Users\levan\GRADUATION_UIT\data\ver_1\students_average_score_sem.csv'